h1{
     align-content: center;
     margin-left: 40%;
     margin-top: 10%;
}
h2{
    align-content: center;
    margin-left: 50%;
}

a{
    align-content: center;
    margin-left: 48%;
}